# Logs
logs
*.log
npm-debug.log*
pnpm-debug.log*

node_modules
.pnpm-store
dist
*.local

# Editor directories and files
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# ignore .proto definitions
proto/
